* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    line-height: 1.3;
}
/* Add your styles below here */
body{
    background-color: beige;
}

#pfp{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-left: 10px;
    margin-top: 10px;
}
li{
    display: inline;
}
 ul.nav {
    margin-top: 20px; /*these next lines of code set position to top right of the screen */
    margin-right: 10px;
    font-size: 20px;
    position:absolute;
    top:0px;
    right:0px;
  }
  ul.nav > li { /*makes is so that all the buttons display on one line */
    display: inline-block;
    padding: 10px 20px;
  }
  ul.nav > li:hover {
    background-color:wheat;
  }
  ul.nav > li > a {
    color: black;
  }

#pg_title{
    margin-right: 20px;
    font-size: 75px;
    position: absolute;
    top: 80px;
    right:0px;
    color: black;
}

.boxed { /*creating box that contains section 1 and image */
    background-color: burlywood;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-top: 10px;
  }

#section1{ /*changing font size for image */
    font-size: 20px;
  }

#subhead1{
    margin-top: 5px;
    margin-bottom: 5px;
}
#honey{
    height: 250px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 50%;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    height: 300px;
    align-items: flex-start;
  }

.button{
    color: black; 
    border: 2px solid burlywood;
    border-radius: 6px; 
    margin-top: 10px;
}
#section2{
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
}
#beepic1{
    height: 300px;
    width: 450px;
}
#beepic2{
    height: 300px;
    width: 450px;
}
#beepic3{
    height: 300px;
    width: 450px;
}
#section3{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 10px;
}
#paragraph3{
    margin-left: 20px;
}
#paragraph4{
    margin-left: 20px;
    margin-top: 20px;
}
#section4{
    margin-left: 20px;
    margin-top: 10px;
    font-size: 20px;
}
#li_1{
    display:block;
    margin-left: 20px;
}
#li_2{
    display:block;
    margin-left: 20px;
}
#li_3{
    display:block;
    margin-left: 20px;
}
#li_4{
    display:block;
    margin-left: 20px;
}
#paragraph5{
    margin-left: 20px;
    margin-top: 10px;
}
#footer{
    margin-left: 20px;
    margin-top: 10px;
}
#youtube_img{
    margin-left: 20px;
    margin-top: 10px;
}